http_interactions:
- recorded_at: Thu, 06 Jan 2022 00:51:00 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/monitor/search
  response:
    body:
      encoding: UTF-8
      string: '{"counts":{"status":[{"count":96,"name":"No Data"},{"count":65,"name":"Alert"},{"count":38,"name":"OK"}],"muted":[{"count":182,"name":false},{"count":17,"name":true}],"tag":[{"count":88,"name":"probe_dc:aws:us-east-2"},{"count":77,"name":"check_status:live"},{"count":73,"name":"testing:api"},{"count":50,"name":"check_type:api"},{"count":46,"name":"env:ci"},{"count":17,"name":"check_status:paused"},{"count":13,"name":"check_type:browser"},{"count":13,"name":"testing:browser"},{"count":11,"name":"foo:bar"},{"count":9,"name":"check_type:api-multi"},{"count":9,"name":"check_type:api-udp"},{"count":9,"name":"check_type:api-websocket"},{"count":6,"name":"app:webserver"},[...]
