http_interactions:
- recorded_at: Thu, 12 May 2022 09:53:20 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1652349200@datadoghq.com","service_account":true,"title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"fbebe517-c0ed-45a9-b3c9-4377cbe04efd","attributes":{"name":null,"handle":"fbebe517-c0ed-45a9-b3c9-4377cbe04efd","created_at":"2022-05-12T09:53