http_interactions:
- recorded_at: Tue, 11 Jan 2022 13:57:49 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/hosts?include_hosts_metadata=true
  response:
    body:
      encoding: UTF-8
      string: '{"exact_total_matching":true,"total_returned":1,"host_list":[{"last_reported_time":1640288946,"name":"vagrant","is_muted":false,"mute_timeout":null,"apps":["ntp","agent"],"tags_by_source":{"Datadog":["host:vagrant"]},"up":true,"metrics":{"load":0.031666666,"iowait":0.0434962,"cpu":0.6632819},"sources":["agent"],"meta":{"socket-hostname":"vagrant","nixV":["ubun