http_interactions:
- recorded_at: Mon, 31 Jan 2022 09:34:31 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/usage/incident-management?start_hr=2022-01-26T09%3A34%3A31.797Z&end_hr=2022-01-28T09%3A34%3A31.797Z
  response:
    body:
      encoding: UTF-8
      string: '{"usage":[{"org_name":"DD Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","monthly_active_users":1,"hour":"2022-01-26T09:00:00+00:00"},{"org_name":"DD
        Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","monthly_active_users":1,"hour":"2022-01-26T10:00:00+00:00"},{"org_name":"DD
        Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","monthly_active_users":1,"hour":"2022-01-26T11:00:00+00:00"},{"org_name":"DD
        Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","monthly_active_users":1,"hour":"2022-01-26T12:00:00+00:00"},{"org_name":"DD
        Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","monthly_active_users":1,"hour":"2022-01-26T13:00:00+00:00"},{"org_name":"DD
        Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","monthly_active_users":1,"hour":"2022-01-26T14:00:00+00:00"},{"org_name":"DD
        Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","monthly_active_users":1,"hour":"2022-01-26T15:00:00+00:00"},{"org_name":"DD
 