http_interactions:
- recorded_at: Mon, 31 Jan 2022 09:34:34 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/usage/profiling?start_hr=2022-01-26T09%3A34%3A34.802Z&end_hr=2022-01-28T09%3A34%3A34.802Z
  response:
    body:
      encoding: UTF-8
      string: '{"usage":[{"host_count":null,"org_name":"DD Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-01-26T09:00:00+00:00","avg_container_agent_count":null,"avg_container_agentless_count":null},{"host_count":null,"org_name":"DD
        Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-01-26T10:00:00+00:00","avg_container_agent_count":null,"avg_container_agentless_count":null},{"host_count":null,"org_name":"DD
        Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-01-26T11:00:00+00:00","avg_container_agent_count":null,"avg_container_agentless_count":null},{"host_count":null,"org_name":"DD
        Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-01-26T12:00:00+00:00","avg_container_agent_count":null,"avg_container_agentless_count":null},{"host_count":null,"org_name":"DD
        Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-01-26T13:00:00+00:00","avg_container_agent_count":null,