http_interactions:
- recorded_at: Fri, 01 Apr 2022 00:41:30 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/daily_custom_reports
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":397}},"data":[{"type":"reports","id":"2022-03-30","attributes":{"tags":["project"],"start_date":"2022-03-30","end_date":"2022-03-30","size":11887,"computed_on":"2022-03-31T13:22:53+00:00"}},{"type":"reports","id":"2022-03-29","attributes":{"tags":["project"],"start_date":"2022-03-29","end_date":"2022-03-29","size":11141,"computed_on":"2022-03-30T19:59:17+00:00"}},{"type":"reports","id":"2022-03-28","attributes":{"tags":["project"],"start_date":"2022-03-28","end_date":"2022-03-28","size":11088,"computed_on":"2022-03-29T11:57:38+00:00"}},{"type":"reports","id":"2022-03-27","attributes":{"tags":["project"],"start_date":"2022-03-27","end_date":"2022-03-27"[...]
