http_interactions:
- recorded_at: Fri, 01 Apr 2022 15:43:36 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/usage/dbm?start_hr=2022-03-27T15%3A43%3A36.948Z&end_hr=2022-03-29T15%3A43%3A36.948Z
  response:
    body:
      encoding: UTF-8
      string: '{"usage":[{"org_name":"DD Integration Tests (321813)","dbm_host_count":null,"dbm_queries_count":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T15:00:00+00:00"},{"org_name":"DD
        Integration Tests (321813)","dbm_host_count":null,"dbm_queries_count":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T16:00:00+00:00"},{"org_name":"DD
        Integration Tests (321813)","dbm_host_count":null,"dbm_queries_count":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T17:00:00+00:00"},{"org_name":"DD
        Integration Tests (321813)","dbm_host_count":null,"dbm_queries_count":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T18:00:00+00:00"},{"org_name":"DD
        Integration Tests (321813)","dbm_host_count":null,"dbm_queries_count":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T19:00:00+00:00"},{"org_name":"DD
        Integration Tests (321813)","dbm_host_count":null,"dbm_queries_count":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T20:00:00+00:00"},{"org_name":"DD
        Integration Tests (321813)","dbm_host_count":null,"dbm_queries_count":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T21:00:00+00:00"},{"org_name":"DD
        Integration Tests (321813)","dbm_host_count":null,"dbm_queries_count":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T22:00:00+00:00"},{"org_name":"DD
        Integration Tests (321813)","dbm_host_count":null,"dbm_queries_count":null,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T23:00:00+00:00"},{"org_name":"DD
        Integration Tests (321813)","dbm_host_count":n