http_interactions:
- recorded_at: Fri, 01 Apr 2022 00:41:27 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/usage/rum?start_hr=2022-03-27T00%3A41%3A27.572Z&end_hr=2022-03-29T00%3A41%3A27.572Z
  response:
    body:
      encoding: UTF-8
      string: '{"usage":[{"org_name":"DD Integration Tests (321813)","browser_rum_units":null,"hour":"2022-03-27T00:00:00+00:00","rum_units":0,"mobile_rum_units":null,"public_id":"fasjyydbcgwwc2uc"},{"org_name":"DD
        Integration Tests (321813)","browser_rum_units":null,"hour":"2022-03-27T01:00:00+00:00","rum_units":0,"mobile_rum_units":null,"public_id":"fasjyydbcgwwc2uc"},{"org_name":"DD
        Integration Tests (321813)","browser_rum_units":null,"hour":"2022-03-27T02:00:00+00:00","rum_units":0,"mobile_rum_units":null,"public_id":"fasjyydbcgwwc2uc"},{"org_name":"DD
        Integration Tests (321813)","browser_rum_units":null,"hour":"2022-03-27T03:00:00+00:00","rum[...]
