http_interactions:
- recorded_at: Fri, 01 Apr 2022 00:41:24 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/usage/aws_lambda?start_hr=2022-03-27T00%3A41%3A24.021Z&end_hr=2022-03-29T00%3A41%3A24.021Z
  response:
    body:
      encoding: UTF-8
      string: '{"usage":[{"org_name":"DD Integration Tests (321813)","func_count":0,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T00:00:00+00:00","invocations_sum":0},{"org_name":"DD
        Integration Tests (321813)","func_count":0,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T01:00:00+00:00","invocations_sum":0},{"org_name":"DD
        Integration Tests (321813)","func_count":0,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T02:00:00+00:00","invocations_sum":0},{"org_name":"DD
        Integration Tests (321813)","func_count":0,"public_id":"fasjyydbcgwwc2uc","hour":"2022-03-27T03:00:00+00:00","invocations_sum":0},{"org_name":"DD
        Integration[...]
