http_interactions:
- recorded_at: Thu, 12 May 2022 09:51:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"customer_impacted":false,"title":"Test-Remove_commander_from_an_incident_returns_OK_response-1652349115"},"type":"incidents"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"incidents","id":"e3dd7a6c-675d-5f37-8320-fdff8b12f03e","attributes":{"public_id":95248,"title":"Test-Remove_commander_from_an_incident_returns_OK_response-1652349115","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.g