http_interactions:
- recorded_at: Wed, 04 Jan 2023 00:33:33 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"customer_impacted":false,"title":"Test-Search_for_incidents_returns_OK_response-1672792413"},"type":"incidents"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"incidents","id":"698787fa-35d4-5950-8697-80c4e83ed1c5","attributes":{"public_id":117205,"title":"Test-Search_for_incidents_returns_OK_response-1672792413","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2023-01-04T00:33:34.114783+00:00","modified":"2023-01-04T00:33:34.114783+00:00","commander":null,"detected":"2023-01-04T00:33:34.107801+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-070548