http_interactions:
- recorded_at: Thu, 06 Jan 2022 00:51:03 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/notebooks
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_filtered_count":50,"total_count":465}},"data":[{"type":"notebooks","id":1529861,"attributes":{"name":"Example
        Notebook","cells":[{"attributes":{"definition":{"text":"## Some test markdown\n\n```js\nvar
        x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells","id":"zct6hr09"},{"attributes":{"definition":{"show_legend":true,"type":"timeseries","requests":[{"formulas":[{"formula":"query1"}],"style":{"line_width":"normal","palette":"dog_classic","line_type":"solid"},"display_type":"bars","response_format":"timeseries","queries":[{"query":"avg:trace.cucumber.test.errors{*}.as_count()","data_source":"metrics","name":"query1"}]}],"yaxis":{"scale":"linear"}},"graph_size":"m","split_by":{"keys":[],"tags":[]},"time":null},"type":"notebook_cells","id":"8afnyf7d"}],"time":{"live_span":"1h"},"metadata":{"is_template":false,"type":"investigation","take_snapshots":false},"template_variables":null,"status":"published","modified":"2022-01-05T07:32:54.047760+00:00","created":"2021-11-05T18:10:43.257960+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}},{"type":"notebooks","id":1721318,"attributes":{"nam