http_interactions:
- recorded_at: Tue, 12 Apr 2022 14:46:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"index":"main","query":"host:Test*","sort":"asc","time":{"from":"2022-04-12T13:46:01.054Z","timezone":"Europe/Paris","to":"2022-04-12T14:46:01.054Z"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/logs-queries/list
  response:
    body:
      encoding: UTF-8
      string: '{"status":"done","nextLogId":"AQAAAYAeNzBYpo9uwQAAAABBWUFlTnphX0FBQ3ZDWWkzMEhwV3lnQUE","logs":[{"content":{"attributes":{"timestamp":1649772129000,"hostname":"Test-Go-TestLogsList-1649773129"},"host":"Test-Go-TestLogsList-1649773129","tags":["source:go-client-test-test-go-testlogslist-1649773129","source:go-client-test-test-go-testlogslist-1649773129","test","go","list"],"message":"test-log-list-1
        Test-Go-TestLogsList-1649773129","timestamp":"2022-04-12T14:02:09.000Z"},"id":"AQAAAYAeFOro88x3gAAAAABBWUFlSkRBTUFBQTYxd2RPZWdXdkVRQUE"},{"content":{"attributes":{"timestamp":1649772161000,"hostname":"Test-Go-TestLogsListGet-1649773161"},"host":"Test-Go-TestLogsListGet-1649773161","tags":["source:go-client-test-test-go-testlogslistget-1649773161","test","go","list","source:go-client-test-test-go-testlogslistget-1649773161"],"message":"test-log-list-1
        Test-Go-TestLogsListGet-1649773161","timestamp":"2022-04-12T14:02:41.000Z"},"id":"AQAAAYAeFWfoHAiocAAAAABBWUFlSkt1Z[...]
