http_interactions:
- recorded_at: Fri, 26 Aug 2022 21:57:23 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Update_a_role_returns_Bad_Role_ID_response-1661551043"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"10f8f24c-258a-11ed-b455-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_Bad_Role_ID_response-1661551043","created_at":"2022-08-26T21:57:23.881058+00:00","modified_at":"2022-08-26T21:57:23.958066+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"},{"type":"permissions","id":"f8e941cf-e746-11ec-b22d-da7ad0900002"}]}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 26 Aug 2022 21:57:23 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/permissions
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","attributes":{"name":"admin","display_name":"Privileged
        Access","description":"Deprecated. Privileged Access (also known as Admin
        permission) has been replaced by more specific permissions: Access Management,
        Org Management, Billing Read/Write, Usage Read/Write.","created":"2018-10-19T15:35:23.734317+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standard
        Access","description":"View and edit components in your Datadog organization
        that do not have explicitly defined permissions. This includes configuring
        some integrations (from the UI), events, most facets, and saved views. In
        order to configure integrations from the UI, a user must also have Integrations
        API.","created":"2018-1[...]
