http_interactions:
- recorded_at: Mon, 11 Apr 2022 15:53:14 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/processes?page%5Blimit%5D=2
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"after":"08d5e26c7701000015e90400e5e520dead28b74b286076a0f80d8947","size":2}},"data":[{"type":"process","id":"15e904006bbd513e4da3b8270bedd386f3edea60","attributes":{"cmdline":"/lib/systemd/systemd
        --switched-root --system --deserialize 22","timestamp":"2022-04-11T15:49:04","start":"2021-02-04T11:51:47","user":"root","pid":1,"ppid":0,"host":"pks-db-0","tags":["bosh_address:10.0.40.20","bosh_az:us-central1-a","bosh_deployment:pivotal-container-service-2db99f13c503d2c4afac","bosh_id:bc9e93b6-fb2e-4adc-a4a7-f23a70dbe681","bosh_index:0","bosh_ip:10.0.40.20","bosh_job:pks-db","bosh_name:pks-db","cloudfoundry","created_at:2021-02-04t11:51:58z","deployment:pivotal-container-service